.section-summary,
.section-reviews,
.section-amenities {
  margin: 0 auto;
  max-width: 114rem;
  padding: 2rem 2rem 6rem 2rem;
}

.summary-info {
  &__headers {
    display: flex;
  }

  &__header {
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__summary-item {
    display: flex;
    margin: 3rem 0;
  }

  &__icon {
    min-width: 4rem;
  }

  &__title {
    color: $color-black;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &__more {
    color: $color-secondary-dark;
    cursor: pointer;
    font-weight: 500;
  }
}

.section-highlight {
  padding: 2rem 0 6rem 0;

  &__header {
    margin: 0 auto;
    max-width: 114rem;
    padding: 0 2rem;
  }
}

.highlight-photos {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__img {
    width: 100%;
  }

  &__text-box {
    max-width: 55rem;
    padding-top: 3rem;

    &--left {
      margin-left: auto;
      padding-right: 6rem;

      @include respond(tab-port) {
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    &--right {
      margin-right: auto;
      padding-left: 6rem;

      @include respond(tab-port) {
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  &__header {
    color: $color-primary-dark;
    margin-bottom: 1rem;
  }

  &__separator {
    align-self: flex-end;
    border: 0.5px solid $color-grey-dark;
    display: block;
    height: 10.4rem;

    @include respond(tab-port) {
      display: none;
    }
  }
}

.review {
  border-bottom: 1px solid $color-grey-light;
  padding: 3rem 0;

  &__header {
    display: flex;
    margin-bottom: 2rem;
  }

  &__left {
    align-items: center;
    background-color: rgba($color-black, 0.26);
    border-radius: 50%;
    color: $color-grey;
    display: flex;
    font-size: 1.3rem;
    height: 3rem;
    justify-content: center;
    width: 3rem;
  }

  &__center {
    flex: 1;
    margin: 0 2rem;
  }

  &__right {
  }

  &__body {
  }

  &__reviewer {
    font-weight: 500;
  }

  &__b-logo {
    color: $color-blue;
    font-size: 2rem;
    font-weight: 600;
  }

  &__ta {
    height: 2.5rem;
    width: auto;
  }

  &__more {
    color: $color-secondary-dark;
    cursor: pointer;
    font-weight: 400;
    margin-left: 1rem;
  }
}

.review-more {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;

  &__left {
  }

  &__right {
  }

  &__ta-review {
    height: 2.5rem;
    width: auto;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__link {
    color: $color-secondary-dark;
    cursor: pointer;
    font-weight: 500;
  }
}

.amenities {
  &__container {
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__header {
    font-weight: 500;
    margin: 2rem 0;
  }

  &__ul {
    list-style-position: inside;
  }

  &__li {
    margin: 1rem 0;
  }

  &__more {
    color: $color-secondary-dark;
    cursor: pointer;
    font-weight: 500;
    margin-top: 2rem;
  }

  &__box {
    border: 1px solid $color-grey-light;
    padding: 3rem;

    @include respond(tab-port) {
      margin-top: 3rem;
    }
  }

  &__icon {
    height: 5rem;
    width: auto;
  }

  &__layout {
    color: $color-grey-dark;
    margin-top: 1rem;
  }
}
