// COLORS
$color-primary: #ccaf9f;
$color-primary-light: #eac9b7;
$color-primary-dark: #7f6e65;
$color-primary-darker: #564a44;

$color-secondary: #21dfd1;
$color-secondary-light: #1fc1ad;
$color-secondary-dark: #1a9986;
$color-secondary-darker: #0e4c42;

$color-tertiary: #6b7a8a;
$color-tertiary-light: #b7d1ea;
$color-tertiary-dark: #95abbf;
$color-tertiary-darker: #3b444c;

$color-white: #fff;
$color-black: #000;
$color-grey: #6b7a8a;
$color-grey-light: #d8d8d8;
$color-grey-dark: #6d7d8c;

$color-nav: rgba(196, 196, 196, 0.2);
$color-nav-sticky: rgba(0, 0, 0, 0.14);

$color-overlay: rgba(46, 56, 66, 0.65);

$color-default-border: hsl(0, 0%, 80%);

$color-blue: #4285f4;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
